<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.sap.com/india/about/labs-india.html" target="_blank">SAP Labs, Bangalore</a> building Machine / Deep Learning systems from scratch with some awesome people.
    </p>

    <p>
      With a year of demonstrated ability to deliver reliable ML / DL applications working in R&D projects of a major product based company,
      and a background of high-quality independent research at college and company levels surrounding the areas of Time Series Analysis and Natural Language Processing,
      I wish to continue to push all boundaries in these areas and come up with innovative solutions via rigorous research and application.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably pondering the purpose of life or thinking about the last awesome movie I watched, or a video game I played.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
