<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.sap.com/india/about/labs-india.html" target="_blank">SAP Labs, Bangalore</a> building Machine / Deep Learning systems from scratch with some awesome people.
    </p>

    <p>
      I am a <a class="underline-link" href="https://soundcloud.com/rajdeepbiswas" target="_blank">musician</a> turned programmer.<br />
      (Also, a metalhead!). <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" width="20px" alt="emoji"><br /><br />
      I started getting into programming languages with the belief of the power of being able to talk to computers will let me ease up a lot of things, and it just snowballed from there.<br />
      I discovered machine learning in my sophomore year of college and I haven't gotten over the idea of making AGI possible, since.<br />
      As a side effect of trying to understand machine intelligence, I find myself deeply intrigued by the underlying workings of human intelligence.<br /><br />
      I can't wait to find some time for myself (hopefully, in the near future) to study some Neuroscience (and brush up my Calculus, too).<br /><br />
      I am also a philosophy and psychology nut and a self-proclaimed Hollow Knight lore expert.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
