<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.sap.com/india/about/labs-india.html" target="_blank">SAP Labs, Bangalore</a> building Machine / Deep Learning systems from scratch with some awesome people.
    </p>

    <p>
      I am a <a class="underline-link" href="https://soundcloud.com/rajdeepbiswas" target="_blank">musician</a> turned programmer.<br />
      I started getting into programming languages with the belief of the power of being able to talk to computers will let me ease up a lot of things, and it just snowballed from there.<br />
      I discovered machine learning in my sophomore year of college and I haven't gotten over the idea of making AGI possible, since.<br /><br />
      I am also a philosophy nut and self-proclaimed Hollow Knight lore expert.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably pondering the purpose of life or thinking about the last awesome movie I watched, or a video game I played.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
